@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
.flash {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.transitionRightToLeft {
  transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
  -webkit-transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}
.rotate {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
body {
  color: #e2e2e2;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
}
.txt-menu,
.nav-wrap .navbar-nav > li > a {
  color: #919191;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
}
.txt-caption-banner,
.main-slider .item-slider .item-caption {
  color: #ffffff;
  font-size: 110px;
  font-weight: 700;
  line-height: 110px;
  text-transform: uppercase;
}
.txt-title-banner {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
}
.txt-title-banner-small {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  line-height: 50px;
}
.txt-header,
.block-title h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
  text-align: center;
}
.txt-header a {
  color: inherit;
}
.txt-header a:hover {
  color: #c8b964;
}
.txt-header-style-2,
.block-title.style-2 h2 {
  color: #000000;
  font-size: 45px;
  font-weight: 300;
  line-height: 50px;
  text-transform: capitalize;
  text-align: center;
}
.txt-header-style-2 a {
  color: inherit;
}
.txt-header-style-2 a:hover {
  color: #c8b964;
}
.txt-title,
.article-title,
.block.media-video .media-title {
  color: #000000;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.txt-title a {
  color: inherit;
}
.txt-title a:hover {
  color: #c8b964;
}
.txt-description,
.article-description {
  color: #000000;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
}
.txt-belong-category,
.article .belong-category {
  color: #919191;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}
.txt-day,
.article .datetime .date {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}
.txt-month,
.article .datetime .month,
.article .datetime .year {
  color: #b9c2d3;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}
.txt-seeMore,
.see-more {
  color: #004280;
  font-size: 17px;
  font-weight: 500;
  text-align: right;
}
.txt-seeMore a {
  color: inherit;
}
.txt-seeMore a:hover {
  color: #c8b964;
}
.txt-one-intro {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  text-transform: capitalize;
  color: #c8b964;
}
.txt-two-intro {
  font-size: 43px;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}
.pr-name-1 {
  color: #c8b964;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}
.pr-name-2 {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
}
.pr-name-3 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
}
.media-name {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
.txt-search-dropdown-menu,
.search-product .dropdown .dropdown-menu > li > a,
.search-product .size-dropdown .dropdown-menu li {
  color: #004280;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.btn {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
}
.btn.btn-tab {
  font-size: 15px;
  font-weight: 400;
}
.btn-search-product,
.btn-search {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.txt-header-footer,
.block-title h4 {
  color: #777777;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.txt-footer,
.footer {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
.txt-album-info {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  color: inherit;
}
a:hover,
afocus {
  color: #fff;
}
.position-relative {
  position: relative;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-86 {
  margin-top: 86px;
}
.mt-107 {
  margin-top: 107px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn.active,
.btn:active {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
.customBtn {
  width: 29px;
  height: 56px;
  position: absolute;
  top: 30%;
  z-index: 1;
}
@media (max-width: 1000px) {
  .customBtn {
    display: none;
  }
}
.customBtn.next {
  right: 0;
  background: transparent url('../imgs/nav/next-large.png') no-repeat;
}
.customBtn.next:hover {
  background-image: url('../imgs/nav/next-large-hover.png') !important;
}
.customBtn.prev {
  left: 0;
  background: transparent url('../imgs/nav/prev-large.png') no-repeat;
}
.customBtn.prev:hover {
  background-image: url('../imgs/nav/prev-large-hover.png') !important;
}
.btn-detail {
  width: 160px;
  margin-top: 20px;
  color: #ffffff;
  border: 3px solid #c8b964;
  background: transparent;
  border-radius: 5px;
  padding: 10px 15px;
}
.btn-detail:hover {
  background: #c8b964;
  color: #ffffff;
}
.btn-tab {
  min-width: 120px;
  color: #004280;
  border: 2px solid #c8b964;
  background: transparent;
  border-radius: 6px!important;
  padding: 5px!important;
}
.btn-tab:hover {
  background-color: #c8b964 !important;
  color: #ffffff;
}
.btn-search {
  min-width: 120px;
  color: #ffffff;
  border: 2px solid #c8b964;
  background: #c8b964;
  border-radius: 6px!important;
}
.btn-search:hover {
  background-color: transparent;
  color: #c8b964;
}
.btn-search-product {
  text-align: left;
  color: #ffffff;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.btn-search-product .fa {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 12px;
}
.btn-search-product:hover,
.btn-search-product:focus {
  color: #c8b964;
  border-color: #c8b964;
}
.btn-download {
  width: 150px;
  color: #ffffff;
  border: 3px solid #c8b964;
  background: #c8b964;
  border-radius: 5px;
  padding: 2px 15px;
  margin-bottom: 10px;
}
.btn-download:hover {
  background: transparent;
  color: #c8b964;
}
.active .btn-tab {
  background: #c8b964 !important;
}
.bg-grey {
  background: #f3f3f3;
}
/* top bar */
.top-bar-line {
  border-bottom: 1px solid transparent;
}
.top-bar {
  width: 100%;
  position: relative;
  height: 45px;
  color: rgba(171, 171, 171, 0.6);
}
.top-bar .top-bar-acc,
.top-bar .top-bar-currency-language {
  display: inline-block;
}
.top-bar .top-bar-acc {
  padding-right: 20px;
}
.top-bar-links {
  line-height: 45px;
  font-size: 15px;
  font-weight: 500;
}
.top-bar-links a {
  color: #e2e2e2;
}
.top-bar-links a:hover {
  color: #919191;
}
.top-bar-links > ul:first-child i {
  margin-right: 7px;
}
.top-bar > ul,
.top-bar-links > ul > li {
  display: inline-block;
  position: relative;
}
.top-bar-currency-language > li {
  padding-right: 20px;
}
.top-bar-currency-language > li > a {
  color: #c8b964;
}
.top-bar-currency-language > li:last-child {
  padding-right: 0;
}
.top-bar-currency-language > li > a > i {
  margin-left: 5px;
}
.dropdown-top {
  background-color: #fff;
  padding: 0 15px;
  position: absolute;
  border: 1px solid #f2f2f2;
  z-index: 9999;
  right: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.language-dropdown,
.nation-dropdown {
  right: 0;
}
.dropdown-top ul li {
  line-height: 26px;
  border-top: 1px solid #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.dropdown-top ul li:first-of-type {
  border-top: 0;
}
.dropdown-top ul li > a {
  color: #c8b964;
}
.top-bar-currency-language > li:hover .dropdown-top {
  visibility: visible;
  opacity: 1;
}
.top-bar-links .top-bar-link a:after {
  content: "";
  margin: 0 10px 0 10px;
}
.top-bar-links .top-bar-link:last-child a:after {
  content: "";
  border-right: none;
  margin: 0;
}
/*navbar*/
.affix {
  height: 110px;
  top: 0;
  width: 100%;
  z-index: 9999 !important;
  animation: pulse .7s ;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.06);
}
.affix.navbar {
  margin-top: 0;
}
.affix .logo {
  padding: 10px 0;
  margin: 0;
}
.affix .Utilities,
.affix .nav-wrap {
  margin: 30px 0 0 0;
}
.navbar {
  margin-top: 10px;
}
.nav-wrap {
  float: right;
}
.nav-wrap .navbar-nav {
  margin-top: 0px;
  margin-bottom: 0;
  height: 64px;
}
.nav-wrap .navbar-collapse {
  border-color: #ffffff;
}
.nav-wrap .navbar-nav > li > a:hover {
  color: #004280;
  background-color: transparent ;
}
.nav-wrap .navbar-nav > li > a:hover::after {
  display: block;
}
.nav-wrap .navbar-nav > li > a:focus {
  outline: none;
}
.nav-wrap .navbar-nav > li > a::after {
  content: '';
  display: none;
  height: 4px;
  width: 40px;
  margin: 0 auto;
  background-color: #004280;
}
.nav-wrap .navbar-collapse {
  background-color: transparent ;
}
.nav-wrap .fa {
  padding-right: 10px;
}
@media (max-width: 1100px) {
  .nav-wrap {
    width: 100%;
  }
  .nav-wrap .navbar-nav > li > a {
    display: inline-block;
    height: 54px;
  }
}
.navbar-toggle {
  background-color: #004280;
}
.navbar-toggle .icon-bar {
  background-color: #ffffff;
}
/* change breakpoint */
@media (max-width: 1100px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-nav.sm-collapsible a.has-submenu {
    padding-right: 15px;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 0;
  }
}
/* Menu Search desktop
-------------------------------------------------------*/
a.nav-search {
  float: left;
  position: relative;
  display: block;
  margin: 12px 20px;
  width: 35px;
  height: 30px;
}
.search-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}
.search-wrap .form-control {
  height: 100%;
  border: none;
  font-size: 14px;
  box-shadow: none;
}
.search-wrap input,
.search-wrap input:focus {
  background-color: #fff !important;
  border: none;
}
.search-trigger {
  width: 23px;
  height: 23px;
  z-index: 22;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
  opacity: 1;
  background: url('../imgs/search.png') no-repeat center center;
}
.search-close {
  width: 23px;
  height: 23px;
  opacity: 0;
  font-size: 16px;
  z-index: 21;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 0;
}
.nav-search.open .search-trigger {
  opacity: 0;
  z-index: 20;
}
.nav-search.open .search-close {
  opacity: 1;
  color: #7a7a7a;
}
.nav-type-3 .nav .mobile-links {
  display: none;
}
.mobile-links li > a {
  padding: 15px 0 15px 15px;
  line-height: 20px;
  border-bottom: 1px solid #f2f2f2;
  color: #7a7a7a;
  display: block;
}
.mobile-links li > a:hover {
  color: #121212;
}
.Utilities {
  float: right;
}
/*-------------------------------------------------------*/
/* logo
/*-------------------------------------------------------*/
.logo {
  width: 82px;
  float: left;
  margin-top: -30px;
}
/*-------------------------------------------------------*/
/* head-signin
/*-------------------------------------------------------*/
.head-signin {
  position: relative;
  margin-left: 20px;
  float: left;
}
.head-signin .user-avatar {
  display: inline-block;
  border-radius: 505;
}
.head-signin:hover .dropdown-top {
  visibility: visible;
  opacity: 1;
  top: 85px;
  right: 0;
  min-width: 150px;
}
.head-signin::after {
  content: '';
  width: 100%;
  height: 36px;
  display: block;
  position: absolute;
}
.head-signin .user-dropdown {
  padding: 15px;
}
.head-signin .user-dropdown ul {
  margin: 0;
}
/* Menu Cart
-------------------------------------------------------*/
.nav-cart-wrap {
  float: left;
  border-left: 1px solid #c6c6c6;
  padding: 0 15px;
}
.nav-cart {
  position: relative;
  padding: 14px 0;
  min-width: 50px;
}
.nav-cart::after {
  content: '';
  width: 100%;
  height: 36px;
  display: block;
  position: absolute;
}
.nav-cart-outer {
  position: relative;
  height: 100%;
}
.nav-cart-inner {
  vertical-align: middle;
  position: relative;
}
.nav-cart-icon {
  display: block;
  position: absolute;
  min-width: 20px;
  padding: 0 8px;
  height: 26px;
  font-size: 13px;
  text-align: center;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 13px;
  background-color: #c8b964;
  top: -14px;
  left: 15px;
}
.menu-cart-amount {
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.05em;
}
.menu-cart-amount a {
  color: #919191;
}
/* Menu Cart Dropdown
-------------------------------------------------------*/
.nav-cart-container {
  opacity: 0;
  visibility: hidden;
  min-width: 250px;
  max-width: 300px;
  position: absolute;
  top: 85px;
  left: auto;
  right: -15px;
  background-color: #fff;
  padding: 25px;
  line-height: 1;
  border: 1px solid #e2e2e2;
  text-align: left;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  z-index: 201;
}
.nav-cart-container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 30px;
  display: block;
  top: -30px;
  left: 0;
}
.nav-cart-items {
  position: relative;
}
.nav-cart-item {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}
.nav-cart-item:first-child {
  margin-top: 0;
}
.nav-cart-item .nav-cart-img {
  float: left;
  margin-right: 20px;
}
.nav-cart-item .nav-cart-price {
  color: #e2e2e2;
  font-size: 13px;
}
.nav-cart-title {
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}
.nav-cart-title > a {
  position: relative;
  color: #919191;
  font-size: 14px;
  vertical-align: top;
  line-height: 1.5;
}
.nav-cart-title > a:hover {
  color: #000;
}
.nav-cart-price {
  margin-top: 5px;
}
.nav-cart-remove {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f7f7f7;
}
.nav-cart-remove a {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
  color: #444;
}
.nav-cart-remove i {
  font-size: 16px;
}
.nav-cart-remove:hover {
  background-color: #919191;
}
.nav-cart-remove:hover i {
  color: #fff;
}
.nav-cart-summary {
  margin-top: 10px;
  font-weight: 700;
  color: #919191;
  font-size: 14px;
}
.nav-cart-summary .total-price {
  float: right;
}
.nav-cart-actions a {
  width: 100%;
}
.nav-cart:hover .nav-cart-container {
  opacity: 1;
  visibility: visible;
}
.mobile-cart {
  float: right;
  height: 100%;
  margin-right: 12px;
  color: #919191;
}
.btn.btn-dark {
  color: #ffffff;
  background-color: #004280;
}
.btn.btn-dark:hover {
  color: #004280;
  border-color: #004280;
  background-color: #ffffff;
}
.btn.btn-color {
  color: #ffffff;
  background-color: #c8b964;
}
.btn.btn-color:hover {
  color: #c8b964;
  border-color: #c8b964;
  background-color: #ffffff;
}
.banner.style-1 {
  background: #e2e2e2;
  padding-bottom: 20px;
  max-height: 660px;
}
.banner.style-1 .banner-bg {
  background: transparent url('../imgs/homepage/banner.png') no-repeat;
  background-size: cover cover;
  position: relative;
}
.banner.style-1 .customBtn {
  top: 50%;
}
.banner.style-2 {
  background: #e2e2e2;
  padding-bottom: 20px;
}
.banner.style-2 .banner-bg {
  height: 380px;
  background-size: cover cover;
}
.banner.style-2 .banner-bg.page-news {
  background: url(../imgs/page-san-pham/banner.png) no-repeat;
}
.banner.style-2 .banner-bg.page-poduct {
  background: url(../imgs/page-san-pham/banner.png) no-repeat;
}
.banner.style-2 .banner-bg.page-poduct-collection {
  background: url(../imgs/page-san-pham/banner.png) no-repeat;
}
.banner.style-2 h1 {
  padding-top: 100px;
}
.main-slider .item-slider .item-wrapper {
  width: 60%;
  margin: 100px 0;
}
.main-slider .item-slider .item-caption {
  margin-bottom: 30px;
}
.main-slider .item-slider .btn-detail {
  width: 200px;
}
.main-slider .owl-dots {
  margin: 15px 0 30px 0;
  display: inline-block;
}
.main-slider.owl-theme .owl-dots .owl-dot {
  width: 27px;
}
.main-slider.owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.6);
}
.main-slider.owl-theme .owl-dots .owl-dot.active span,
.main-slider.owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
  border: 3px solid #ffffff;
  width: 13px;
  height: 13px;
}
.main-slider.owl-carousel .owl-stage-outer {
  margin-bottom: 25px;
}
.featured {
  position: relative;
}
.featured .products {
  background: url('../imgs/bg-txt-SanPham.png') no-repeat top 20px center;
}
.news-media {
  background: #f3f3f3;
}
.news-media .news {
  background: url('../imgs/bg-txt-NEWS.png') no-repeat top 20px center;
}
.news-media .media-video {
  background: url('../imgs/bg-txt-MEDIA.png') no-repeat top 20px center;
}
/* block */
.block-title {
  margin: 60px 0 40px 0;
}
.block-title h2 a {
  color: inherit;
}
.block-title h2 a:hover {
  color: #c8b964;
}
.block-title h4 {
  text-transform: uppercase;
  margin-top: 0;
}
.block-title.style-2 {
  margin-top: 60px;
}
.block-content {
  margin-top: 15px;
}
.block.news {
  margin: 60px 15px 30px 0;
  position: relative;
}
.block.news .see-more {
  position: absolute;
  bottom: 5px;
  right: 0;
  z-index: 1;
}
.block.intro {
  padding: 90px 0;
  text-align: center;
}
@media (min-width: 1200px) {
  .block.address {
    margin-left: 40px;
  }
}
.contact-info .txt-bold {
  color: #ffffff;
}
.contact-info .title-left {
  width: 80px;
  display: inline-block;
}
.contact-info p {
  margin-bottom: 9px;
}
.contact-info span {
  display: inline-block;
}
.see-map {
  margin-top: 15px;
  font-weight: 500;
}
.see-map a {
  color: #c8b964;
}
.see-map a:hover {
  color: #ffffff;
}
.see-map i {
  padding-right: 5px;
}
.see-more .icon {
  width: 23px;
  line-height: 21px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
}
.see-more:hover .icon {
  color: #c8b964;
  border-color: #c8b964;
}
.see-more a:hover {
  color: #c8b964;
}
.line-bottom {
  height: 25px;
  margin: 50px 0 0 0;
}
.line-bottom.style-1 {
  background: #e2e2e2;
}
.line-bottom.style-2 {
  background: #c8b964;
}
.line-bottom.style-3 {
  height: 2px;
  background: #c6c6c6;
}
.bg-paralax {
  overflow: hidden;
  min-height: 380px;
  position: relative;
  background-image: url(../imgs/homepage/bg_paralax.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center ;
  background-size: cover;
  padding-top: 1px;
}
/*product*/
.product {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.product-wrapper {
  padding-bottom: 30px;
  border-bottom: 4px solid #c8b964;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.product .product-name {
  min-height: 50px;
}
.product .pr-name-2 span {
  display: block;
}
.product .pr-name-3 span {
  display: block;
}
.product .product-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.product .product-img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-image: linear-gradient(115deg, #c8b964 0%, #004280 60%, #004280 100%);
}
.product .product-img img {
  max-width: 100%;
}
.product .btn-pr-search {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -31px auto auto -31px;
  width: 62px;
  height: 62px;
  line-height: 62px;
  background: #c8b964 url(../imgs/icons/icon-search.png) no-repeat center;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid #c8b964;
}
.product:hover .btn-pr-search {
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.product:hover .btn-pr-search:hover {
  background-color: transparent;
}
.product:hover .pr-name-1 {
  color: #004280;
}
.product:hover .product-wrapper {
  border-color: #004280;
}
.product:hover .product-img::before {
  opacity: 0.25;
}
.products-slider.owl-theme .owl-nav [class*=owl-] {
  background: transparent;
  width: 29px;
  height: 56px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
}
.products-slider .owl-next {
  right: -15px;
}
@media (min-width: 1200px) {
  .products-slider .owl-next {
    right: -5%;
  }
}
.products-slider .owl-next-icon {
  position: static!important;
  background: transparent url('../imgs/nav/next-large.png') no-repeat !important;
}
.products-slider .owl-next-icon:hover {
  background-image: url('../imgs/nav/next-large-hover.png') !important;
}
.products-slider .owl-prev {
  left: -15px;
}
@media (min-width: 1200px) {
  .products-slider .owl-prev {
    left: -5%;
  }
}
.products-slider .owl-prev-icon {
  position: static!important;
  background: transparent url('../imgs/nav/prev-large.png') no-repeat !important;
}
.products-slider .owl-prev-icon:hover {
  background-image: url('../imgs/nav/prev-large-hover.png') !important;
}
.products-slider .owl-dots {
  margin: 15px 0 0 0;
}
.products-slider.owl-theme .owl-dots .owl-dot {
  width: 27px;
}
.products-slider.owl-theme .owl-dots .owl-dot.active span,
.products-slider.owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
  border: 3px solid #c8b964;
  width: 13px;
  height: 13px;
}
.products-slider.owl-carousel .owl-stage-outer {
  margin-bottom: 25px;
}
/*article*/
.article-thumb {
  overflow: hidden;
}
.article-thumb img {
  max-width: 100%;
  width: 100%;
}
.article-title {
  margin-top: 20px;
}
.article-title a:hover {
  color: #c8b964;
}
.article .datetime {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 95px;
  height: 100px;
  padding: 10px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #004280;
  border-radius: 5px;
}
.article .datetime .month,
.article .datetime .year {
  display: block;
}
.article .datetime .year {
  margin-top: -1px;
}
.article .see-more {
  text-align: left;
  margin-top: 20px;
}
.article .see-more:hover .icon {
  color: #c8b964;
  border-color: #c8b964;
}
.article .belong-category {
  margin: 20px 0;
}
.article .belong-category .btn {
  background-color: #e2e2e2;
  min-width: 125px;
  padding: 8px 12px;
}
.article .belong-category a {
  color: inherit;
}
.article .belong-category a:hover {
  color: #c8b964;
}
.news-slider .owl-nav {
  width: 50%;
}
.news-slider .owl-nav .owl-prev {
  float: left;
}
.news-slider .owl-nav .owl-next {
  float: right;
}
.news-slider .owl-nav [class*=owl-] {
  width: 18px;
  height: 36px;
  margin: 0;
  padding: 0;
  display: block;
}
.news-slider .owl-next-icon {
  background: #f3f3f3 url('../imgs/nav/next.png') no-repeat !important;
}
.news-slider .owl-next-icon:hover {
  background-image: url('../imgs/nav/next-hover.png') !important;
}
.news-slider .owl-prev-icon {
  background: #f3f3f3 url('../imgs/nav/prev.png') no-repeat !important;
}
.news-slider .owl-prev-icon:hover {
  background-image: url('../imgs/nav/prev-hover.png') !important;
}
.news-slider .owl-dots {
  margin: 15px 0 0 0;
}
.news-slider.owl-theme .owl-dots .owl-dot {
  width: 27px;
}
.news-slider.owl-theme .owl-dots .owl-dot.active span,
.news-slider.owl-theme .owl-dots .owl-dot:hover span {
  background: transparent;
  border: 3px solid #c8b964;
  width: 13px;
  height: 13px;
}
.news-slider.owl-carousel .owl-stage-outer {
  margin-bottom: 25px;
}
/*product*/
.block.media-video {
  margin-top: 60px;
}
.block.media-video .media-thumb {
  position: relative;
  overflow: hidden;
}
.block.media-video .media-thumb img {
  max-width: 100%;
  width: 100%;
}
.block.media-video .media-thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  opacity: 0.25;
  background-image: linear-gradient(115deg, #c8b964 0%, #004280 60%, #004280 100%);
}
.block.media-video .media-title {
  color: #ffffff;
  min-height: 135px;
  padding: 15px 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.block.media-video .see-more {
  margin-top: 60px;
}
.block.media-video .icon-play {
  color: #ffffff;
  border: 2px solid #c8b964;
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  margin: -45px auto auto -45px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.block.media-video .icon-play i {
  line-height: 90px;
}
.block.media-video .icon-play i.mdi-triangle-outline:before {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.block.media-video .icon-play:hover {
  background: #c8b964;
}
.block.media-video .media-item {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin: 0 0 50px 0;
  border-bottom: 4px solid #c8b964;
}
.block.media-video .media-item:hover {
  border-color: #004280;
}
.block.media-video .media-item .media-name {
  min-height: 60px;
  margin: 20px 0;
  display: table;
  width: 100%;
}
.block.media-video .media-item .media-name p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.breadcrumb {
  background-color: #ffffff;
  padding: 10px 0;
  line-height: 20px;
}
.breadcrumb a {
  color: #c8b964;
}
.breadcrumb a:hover {
  color: #ababab;
}
.breadcrumb > .active {
  color: #ababab;
}
.breadcrumb > .active a {
  color: inherit;
}
.breadcrumb > li + li:before {
  padding: 0 15px;
  content: "";
  background: url('../imgs/breadcrumb-arrow.png') no-repeat center center;
}
.news-event .news-section:nth-child(even) {
  background: #f3f3f3;
}
.news-event .news-section:nth-child(even) .line-bottom {
  display: none;
}
.news-event .news-section:last-child .line-bottom {
  display: none;
}
.news-event .article {
  margin: 80px 0 40px 0;
}
.news-event .btn-detail {
  width: 208px;
  color: #004280;
}
.news-event .btn-detail:hover {
  color: #ffffff;
}
.media-section {
  margin: 20px 0 50px;
}
.media-section .btn-detail {
  width: 208px;
  margin: 40px 0;
  color: #004280;
}
.media-section .btn-detail:hover {
  color: #ffffff;
}
.page-news-media .btn-detail {
  width: 208px;
  margin: 40px 0;
  color: #004280;
}
.page-news-media .btn-detail:hover {
  color: #ffffff;
}
.page-news-media .block.media-video .icon-play {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  visibility: hidden;
}
.page-news-media .block.media-video .media-item:hover .icon-play {
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.photo-section {
  margin: 20px 0 0 0;
}
.photo-section .media-video {
  background: url(../imgs/bg-txt-PHOTO.png) no-repeat top 20px center;
}
.video-section {
  padding: 0 0 50px 0;
  background: #f3f3f3;
}
.video-section .media-video {
  background: url(../imgs/bg-txt-VIDEO.png) no-repeat top 20px center;
}
.news-media-slider {
  position: relative;
}
.news-media-slider .media-video {
  background: url(../imgs/bg-txt-MEDIA.png) no-repeat top 20px center;
}
.news-media-slider .container {
  position: absolute;
  top: 50%;
}
.news-media-slider .container .customBtn {
  margin-top: 15px;
}
.news-media-slider .container .customBtn.next {
  right: 15px;
  background: transparent url(../imgs/nav/white/next.png) no-repeat;
}
.news-media-slider .container .customBtn.prev {
  left: 15px;
  background: transparent url(../imgs/nav/white/prev.png) no-repeat;
}
.news-media-slider .block.media-video .icon-play {
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.news-media-slider .item {
  opacity: 0.3;
  transition: .4s ease all;
  margin: 0 20px;
}
.news-media-slider .active .item {
  opacity: 1;
  transform: scale(1);
}
.news-media-slider .inner {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
.news-media-slider .inner a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s ease border-color;
}
.news-media-slider .inner a:hover {
  border-color: #fff;
}
.news-media-slider .black .inner a {
  color: #000;
  border-color: rgba(0, 0, 0, 0.4);
}
.news-media-slider .black .inner a:hover {
  border-color: #000;
}
.news-media-slider .owl-controls {
  position: absolute;
  margin-top: 300px;
}
.page-news-media-photo .btn-detail {
  width: 208px;
  margin: 40px 0;
  color: #004280;
}
.page-news-media-photo .btn-detail:hover {
  color: #ffffff;
}
.page-news-media-photo .breadcrumb {
  margin-bottom: 0;
}
.page-news-media-photo .block.media-video {
  position: relative;
  margin-top: 0px;
}
.page-news-media-photo .block.media-video .block-title {
  margin: 0 0 60px 0;
}
.page-news-media-photo .block.media-video .icon-play {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  visibility: hidden;
}
.page-news-media-photo .block.media-video .media-item:hover .icon-play {
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.page-news-media-photo .block-download {
  position: absolute;
  right: 0;
  top: 0;
}
.photo-section {
  margin: 20px 0 0 0;
}
.photo-section .media-video {
  background: url(../imgs/bg-txt-PHOTO.png) no-repeat top 20px center;
}
.block-download .txt-album-info {
  color: #b2b2b2;
  text-align: right;
}
.block-download .mdi {
  color: #c8b964;
  padding-right: 5px;
}
.page-news-media-video .btn-detail {
  width: 208px;
  margin: 40px 0;
  color: #004280;
}
.page-news-media-video .btn-detail:hover {
  color: #ffffff;
}
.page-news-media-video .breadcrumb {
  margin-bottom: 0;
}
.page-news-media-video .block.media-video {
  position: relative;
  margin-top: 0px;
}
.page-news-media-video .block.media-video .block-title {
  margin: 0 0 60px 0;
}
.page-news-media-video .block.media-video .icon-play {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  visibility: hidden;
}
.page-news-media-video .block.media-video .media-item:hover .icon-play {
  visibility: visible;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.photo-section {
  margin: 20px 0 0 0;
}
.photo-section .media-video {
  background: url(../imgs/bg-txt-PHOTO.png) no-repeat top 20px center;
}
.page-news-media-video-detail .video-header {
  position: relative;
  margin-bottom: 20px;
}
.page-news-media-video-detail .video-header .video-title {
  font-size: 22px;
  color: #000000;
  font-weight: 500px;
}
.page-news-media-video-detail .breadcrumb {
  margin-bottom: 0;
}
.page-news-media-video-detail .block.media-video {
  position: relative;
  margin-top: 0px;
}
.page-news-media-video-detail .block.media-video .block-title {
  margin: 0 0 60px 0;
}
.page-news-media-video-detail .block.media-video .icon-play {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  visibility: visible;
}
.page-news-media-video-detail .block-download {
  position: absolute;
  right: 0;
  top: 0;
}
.page-news-media-video-detail .video-detail {
  margin-bottom: 70px;
}
.page-news-media-video-detail .video-wrapper {
  position: relative;
}
.page-news-media-video-detail .video-wrapper > video {
  width: 100%;
  vertical-align: middle;
}
.page-news-media-video-detail .video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}
.photo-section {
  margin: 20px 0 0 0;
}
.photo-section .media-video {
  background: url(../imgs/bg-txt-PHOTO.png) no-repeat top 20px center;
}
.page-poduct .block-title.style-2 {
  margin: 60px 0 0 0;
}
.page-poduct .block.products {
  background: url(../imgs/bg-txt-SanPham.png) no-repeat top 20px center;
}
.page-poduct-collection {
  overflow: hidden;
}
.page-poduct-collection .breadcrumb {
  margin: 40px 0 0 0;
}
.page-poduct-collection .filter-product {
  margin: 20px 0 0 0;
}
.page-poduct-collection .filter-product .nav {
  display: inline-block;
}
.page-poduct-collection .filter-product .btn.btn-tab {
  margin: 5px;
}
.page-poduct-collection .block-title.style-2 {
  margin: 30px 0 0 0;
}
.page-poduct-collection .block.products {
  background: url(../imgs/bg-txt-SanPham.png) no-repeat top 20px center;
}
.poduct-collection .block.products {
  background: url(../imgs/bg-txt-BOSUUTAP.png) no-repeat top 23px center;
}
.poduct-collection .block-title {
  margin: 60px 0 10px 0;
}
.search-product {
  min-height: 200px;
  padding: 45px 0;
  background: url(../imgs/bg-search-pr.png) no-repeat;
  background-size: cover;
}
.search-product .dropdown {
  width: 100%;
}
.search-product .dropdown.open .btn-search-product {
  color: #c8b964;
  border-color: #c8b964;
  margin-bottom: 20px;
}
.search-product .dropdown .dropdown-menu {
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.search-product .color-dropdown li {
  padding: 6px 0 5px 15px;
  display: inline-block;
}
.search-product .color-dropdown input[type="checkbox"] + label:before {
  width: 24px;
  height: 24px;
  border-color: transparent;
  margin-right: 0;
}
.search-product .color-dropdown input[type="checkbox"]:checked + label:before {
  content: "\f00c";
  color: #000000;
  line-height: 24px;
  font-size: 14px;
}
.search-product .color-dropdown .checkbox-label.colour-white::before {
  border-color: #000000;
}
.search-product .color-dropdown .checkbox-label.colour-red::before {
  background-color: #ed1c24;
}
.search-product .color-dropdown .checkbox-label.colour-yellow::before {
  background-color: #fff200;
}
.search-product .size-dropdown .dropdown-menu {
  padding: 10px;
}
.search-product .size-dropdown .dropdown-menu li {
  border-bottom: 1px solid #c8b964;
  padding: 10px 15px;
}
.search-product .size-dropdown .dropdown-menu li:last-child {
  border-color: transparent;
}
.dropdown-menu input[type="checkbox"] {
  display: none;
}
.dropdown-menu input[type="checkbox"] + label,
.dropdown-menu input[type="radio"] + label {
  cursor: pointer;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: normal;
  color: #7a7a7a;
  font-size: 13px;
}
.dropdown-menu input[type="checkbox"] + label:before {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #c8b964;
  content: "";
  display: inline-block;
  font-size: 15px;
  margin: -4px 12px 0 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.dropdown-menu input[type="checkbox"]:checked + label:before {
  content: "\f0c8";
  font-family: "FontAwesome";
  color: #c8b964;
  font-size: 12px;
  line-height: 15px;
}
.page-news-detail .belong-category {
  height: 38px;
}
.page-news-detail .breadcrumb {
  margin-bottom: 10px;
}
.page-news-detail .article-detail {
  margin-top: 30px;
}
.photo-section {
  margin: 20px 0 0 0;
}
.photo-section .media-video {
  background: url(../imgs/bg-txt-PHOTO.png) no-repeat top 20px center;
}
.article-detail {
  position: relative;
}
.article-detail .article-title {
  width: calc(100% - 150px);
}
.article-detail .datetime {
  position: absolute;
  top: 20px;
  right: 0px;
}
.article-detail .belong-category {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}
.article-detail .belong-category a {
  height: 38px;
}
.article-detail .article-content {
  color: #000000;
}
.article-detail .article-content p {
  color: #000000;
  font-size: 18px;
}
/* social-icons */
.social-icons {
  margin-top: 20px;
  width: 110px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.social-icons li {
  display: inline-block;
  margin: -1px 2px 8px 0;
  padding: 0;
  border-radius: 100%;
  overflow: visible;
  border: 2px solid #e2e2e2;
  line-height: 45px;
}
.social-icons li:hover {
  border-color: #ffffff;
}
.social-icons li:hover a {
  color: #ffffff;
}
.social-icons li a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-radius: 100%;
  display: block;
  width: 45px;
  height: 45px;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  color: #e2e2e2;
  text-decoration: none;
}
.social-icons.horizontal {
  font-weight: 500;
  font-size: 15px;
  color: #c6c6c6;
  display: inline;
  margin-left: 10px;
}
.social-icons.horizontal li {
  margin-right: 10px;
}
.social-icons.horizontal li:hover {
  border-color: #c8b964;
}
.social-icons.horizontal li:hover a {
  color: #c8b964;
}
/* links */
.links li {
  margin-bottom: 10px;
}
.links li a {
  font-weight: 500;
  color: #c8b964;
}
.links li a:hover {
  color: #ffffff;
}
/* footer */
.footer {
  padding: 0 0 30px 0;
  background: #181818;
  color: #c6c6c6;
}
.footer .f-col {
  min-height: 230px;
  border-right: 1px solid rgba(246, 246, 246, 0.15);
  margin-bottom: 30px;
}
.footer .f-col:last-child {
  border-color: transparent;
}
.footer-bottom {
  text-align: center;
  color: #777777;
}
.footer-bottom span {
  color: #ababab;
}
.footer a.active {
  color: #ffffff;
}
.footer .block-title {
  margin: 0;
}
/* -- CONTAINER -- */
/* >1280 */
@media (min-width: 1280px) {
  .container {
    width: 1263px;
  }
}
/* <=1280 */
@media (max-width: 1279px) {
  .container {
    width: 100%;
  }
}
/* header */
/* footer */
@media (max-width: 980px) and (min-width: 600px) {
  .footer .f-col {
    width: 50%;
    float: left;
  }
  .footer .f-col:nth-child(2n+1) {
    clear: both;
  }
}
