/* block */
.block{	
	&-title{
		margin:60px 0 40px 0;
		h2{
			&:extend(.txt-header);
			a{
				color:inherit;
				&:hover{color:@yellow;}
			}
		}
		h4{
			&:extend(.txt-header-footer);
			text-transform:uppercase;
			margin-top:0;
		}
		&.style-2{
			margin-top:60px;
			h2{
				&:extend(.txt-header-style-2);
			}
		}
		&.style-3{
			margin-top:10px;
			h3{
				margin-top: 0px;
				color: @black;
			}
		}
	}
	
	
	&-content{
		margin-top:15px;
	}
	
	&.news{
		margin:60px 15px 30px 0;
		position:relative;
		
		.see-more{
			position:absolute;
			bottom:5px;
			right:0;
			z-index:1;
		}
	}
		
	&.intro{
		padding:90px 0;
		text-align:center;			
	}
	&.address{
		@media(min-width:1200px){
			margin-left:40px;
		}	
	}

}

.contact-info{
	.txt-bold{color:@white;}
	.title-left{
		width:80px;
		display:inline-block;
	}
	p{margin-bottom:9px;}
	span{display:inline-block;}
}

.see-map{
	margin-top:15px;
	a{
		color:@yellow;
		&:hover{
			color:@white;
		}
	}
	font-weight:500;
	i{padding-right:5px;}
}
.see-more{
	&:extend(.txt-seeMore);
	
	.icon{
		width:23px;
		line-height:21px;
		margin-right:5px;		
		display:inline-block;
		text-align:center;
		color:@grey;
		border:1px solid @grey;
		border-radius:50%;
	}
	&:hover{
		
		.icon{color:@yellow;border-color:@yellow;}
	}
	a{
		&:hover{color:@yellow;}
	}
}

.line-bottom{
	height:25px;
	margin:50px 0 0 0;
	&.style-1{
		background:@grey;
	}
	&.style-2{
		background:@yellow;
	}
	&.style-3{
		height:2px;
		background:@grey-7;
	}
}

.bg-paralax{
	overflow:hidden;
	min-height: 380px;
	position: relative;
	background-image:url(../imgs/homepage/bg_paralax.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center ;
	background-size: cover;
	padding-top: 1px;
}

// block share
.block-share{
	&:extend(.txt-block-share);
}


