/* social-icons */

.social-icons{
	margin-top:20px;
	width:110px;
	.transition(@transition);
	
	li{
		display: inline-block;
		margin: -1px 2px 8px 0;
		padding: 0;
		border-radius: 100%;
		overflow: visible;
		border: 2px solid @grey;
		line-height:45px;
		&:hover{			
			border-color:@white;
			a{color:@white;}
		}
		a{
			.transition(@transition);   
			border-radius: 100%;
			display: block;
			width: 45px;
			height: 45px;
			font-size:25px;
			line-height: 45px;			
			text-align: center;
			color:@grey ;
			text-decoration: none;			
		}
	}

	&.horizontal {
		font-weight: 500;
		font-size: 15px;
		color: @grey-7;
		display: inline;
		margin-left: 10px;
		li{
			margin-right: 10px;
			&:hover{			
				border-color:@yellow;
				a{color:@yellow;}
			}
		}
	}	
}



.share-social-icons{
	margin: 20px 0 0 10px;	
	display: inline-block;
	.transition(@transition);
	
	li{
		display: inline-block;
		margin: -1px 2px 8px 0;
		padding: 0;		
		overflow: visible;
		
		
		&:hover{			
			color:@yellow;
			a{color:inherit;border-color:@yellow;}
		}
		a{
			.transition(@transition);   
			border-radius: 100%;
			display: inline-block;
			width: 45px;
			height: 45px;
			font-size:25px;
			line-height: 45px;			
			text-align: center;
			color:@grey ;
			text-decoration: none;	
			border: 2px solid @grey;
			line-height:45px;		
		}
		span{margin: 0 0 0 5px;}
	}
}