.banner.style-1{
	background:$grey;
	padding-bottom:20px;
	max-height:660px;
	.banner-bg{
		background:transparent url('../imgs/homepage/banner.png') no-repeat;
		background-size:cover cover;
		position:relative;
		
	}
	.customBtn{top:50%;}
}
