.banner.style-1{
	background:@grey;
	padding-bottom:20px;
	max-height:660px;
	.banner-bg{
		background:transparent url('../imgs/homepage/banner.png') no-repeat;
		background-size:cover cover;
		position:relative;
		
	}
	.customBtn{top:50%;}
}

.banner.style-2{	
	background:@grey;
	padding-bottom:20px;
	.banner-bg{
		min-height:380px;		
		background-size:cover;
		background-repeat: no-repeat;
		
		&.page-news{
			background-image: url(../imgs/page-san-pham/banner.png);
		}
		&.page-poduct{
			background-image: url(../imgs/page-san-pham/banner.png);
		}
		&.page-poduct-collection{
			background-image: url(../imgs/page-san-pham/banner.png);
		}
		&.page-poduct-collection-detail{
			background-image: url(../imgs/page-san-pham/banner.png);
		}	
	}
	
	h1{padding-top:100px;}
}